<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/setup.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e397881447.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>FitCount | Setup</title>
</head>

<body>
    <nav class="mt-2 navbar navbar-fixed-top navbar-dark bg-transparent">
        <a class="navbar-brand font-weight-bolder" href="#">
            <img src="../static/logo.PNG" width="50"
                height="50" class="align-center mb-1 font-weight-bolder h2" alt="">
            FITCOUNT
        </a>

        <img src={{ profile_medium }} width="30" height="30"
        class="mr-1 mt-2 rounded-circle ml-auto text-dark font-weight-bolder h2" alt="">
    <div class="dropdown pr-2 ml-n2">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            {{name}}
        </a>
        <ul class="dropdown-menu">
            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </ul>
    </div>
    </nav>

    <div class="error-mobile-margin d-sm-block d-md-none"></div>
    <div class="container mt-5-lg text-center error-page">
        <h2 class="font-weight-bolder mb-3 mb-md-4" id="title">One last step, {{ first_name }}:</h2>
        <p class="mx-5 mb-2">Create a Telegram group chat and paste the URL below. Make sure you add yourself, one or
            more fitness partners, and <a href="google.com"><u>the FitCount bot</u></a>.</p>
        <p class="text-muted-custom mb-5">Make sure the URL is valid and that you get it from <a
                href="https://web.telegram.org/" class='text-reset' style="color: white !important;">web.telegram.com!</a></p>
        <form class="form-fill" action="/setup/telegram" method="post">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <input type="text" name="url" class="mb-4 pl-2 rounded form-control form-control-lg" value="https://web.telegram.org/#/im?p=">
                </div>
                <div class="col-3"></div>
            </div>
            <small class="form-text text-danger text-center">{{ message }}</small>
            <br>
            <input type="submit" class="btn btn-lg btn-primary my-2 my-sm-0 text-white py-n1"
                data-mdb-ripple-color="#ffffff" style="background-color:#29a6d9" value="Continue →"></input>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>